<div class="row background">
        <div class="col-md-4"></div>
        <div class="col-md-4">
                <div class="card1">
                        <h1 class="transistor">TRANSISTOR - RED THE SINGER</h1>
                        <div class="card2">
                        </div>
                        <div class="row">
                                <h5 class="text-card">"Olha, o que quer que você esteja pensando, me faça um favor, não solte."</h5>
                        </div>
                </div>
        </div>
        <div class="col-md-4"></div>
</div>